{% extends "ChouffeMagicBundle::layout.html.twig" %}

{% block page_content %}
<ul class="breadcrumb">
    <li><a href="{{ path('gallery') }}">Gallery</a> <span class="divider">/</span></li>
    <li class="active">Album: {{ album.title }}</li>
</ul>
<h2>My Album 
    {% if is_granted('ROLE_ADMIN') %}
    <a href="#myModal" data-toggle="modal" class="btn btn-primary">Add</a>
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Administration</h3>
        </div>
        <div class="modal-body">
            {% include "ChouffeMagicBundle:forms:photo.html.twig" %}
        </div>
    </div>
    {% endif %}
</h2>
<ul class="thumbnails">
{% for photo in album.photos %}
<li class="span3">
    <a href="#" class="thumbnail">
        {% if photo.image != null  %}
            <img src="{{ asset('images/photos/') }}{{ photo.image }}" />
        {% endif %}
    </a>
    {% if is_granted('ROLE_ADMIN') %}
    <div onclick="adminPopover(this)" data-html="true"
    style="text-align:center;" rel="popover"
    data-placement="top" data-content="<a href='{{
    path('photo_delete', {'id':photo.id}) }}' title='Delete'><i class='icon-trash'> </i></a>" title="Administration">
        <div style="margin-top:5px;" class="btn">Admin</div>
    </div> 
    {% endif %}
</li>
{% endfor %}
</ul>

{% endblock %}
{% block jquery %}
<script>
function adminPopover(element)
{
   $(element).popover('toggle'); 
}
$(function(){
    $('#form_photo').hide();
    $('#add_form_photo').click(function(){
        $('#form_photo').toggle();
    });
});
</script>
{% endblock %}

