{% extends "ChouffeMagicBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block page_content %}

    <h2>Liste des articles</h2>
    Hello {{ name }}!


    <form action="" method="post" {{ form_enctype(form) }}>

    <!-- Les erreurs générales du formulaire. -->
    {{ form_errors(form) }}

    <div>
        <!-- Génération du label. -->
        {{ form_label(form.title, "Titre de l'article") }}

        <!-- Affichage des erreurs pour ce champ précis. -->
        {{ form_errors(form.title) }}

        <!-- Génération de l'input. -->
        {{ form_widget(form.title) }}
    </div>

    <!-- Idem pour un autre champ. -->
    <div>
        {{ form_label(form.content, "Contenu de l'article") }}
        {{ form_errors(form.content) }}
        {{ form_widget(form.content) }}
    </div>

    <!-- Génération des champs pas encore écrits.
         Dans cet exemple, ça serait « date », « auteur » et « publication »,
         mais aussi le champ CSRF (géré automatiquement par Symfony !)
         et tous les champs cachés (type « hidden »). -->
    {{ form_rest(form) }}

    </form>

{% endblock %}
