{% extends "ChouffeMagicBundle::layout.html.twig" %}

{% block title %}
    News - {{ parent() }}
{% endblock %}

{% block page_content %}
    

    <h2>Last News 
        {% if is_granted('ROLE_ADMIN') %}
        <a href="#myModal" data-toggle="modal" class="btn btn-primary">Add</a>
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Administration</h3>
            </div>
            <div class="modal-body">
                {% include "ChouffeMagicBundle:forms:news.html.twig" %}
            </div>
        </div>
        {% endif %}
    </h2>
    {% for news in newsList %}
    <div class="media">
        <span class="pull-left">
            {% if is_granted('ROLE_ADMIN') %}
            <div onclick="adminPopover(this)" data-html="true" rel="popover" data-placement="right" data-content="<div style='text-align:center;'><a href='#myModal{{ news.id }}' data-toggle='modal' alt='edit' title='edit'><i class='icon-pencil'> </i></a>  <a href='{{ path('news_delete', {'id':news.id}) }}' title='delete' alt='delete'><i class='icon-trash'> </i></a></div>" title="Administration">
                <div id="myModal{{ news.id }}" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h3 id="myModalLabel">Administration</h3>
                    </div>
                    <div class="modal-body">
                        {% render "ChouffeMagicBundle:News:update" with {'id':news.id} %}
                    </div>
                </div>
            {% endif %}
            <img src="{{ asset('images/news/'~news.cover) }}" width="100" class="media-object img-polaroid" />
            {% if is_granted('ROLE_ADMIN') %}
            </div> 
            {% endif %}
        </span>
        <div class="media-body">
            <h4 class="media-heading">{{ news.title }} -  {{
            news.dateLastUpdate|date("d/m/Y") }}</h4>
            {{ news.content }}           
        </div>
        
    </div>
    <hr class="bs-docs-separator" />
    {% endfor %}

{% endblock %}
{% block jquery %}
<script>
function adminPopover(element)
{
   $(element).popover('toggle'); 
}
$(function(){
    $('#form_news').hide();
    $('#add_form_news').click(function(){
        $('#form_news').toggle();
    });
});
</script>
{% endblock %}
